body{ background-color:#202020;
   


}
#headers{
         width:85%;
		 height:220px;
		 background-color:blue;
		 top:0px;
		 position:fixed;
		 z-index: 20;
		 box-shadow: 10px 10px 20px black inset;
		 margin-left: 10%;
		
		 }
#gauche1{
         width:20%;
		 height:150px;
		 background-color:silver;
		 margin-left: 1%;
		 margin-top:281.5px;
		 border-radius:15px 0px 0px 15px;
		 position:fixed;
		 z-index: 20;
		 box-shadow: 10px 10px 20px blue inset;
		
		 }
#menu1{
        background-color:yellow;
	    width:85%;
	    height:70px;
	    margin-left: 10%;
		margin-top:211px;
		position:fixed;
		z-index: 20;
		box-shadow: 10px 10px 20px black inset;
		}
		
#gauche2{
        width:20%;
		 height:150px;
		 background-color:silver;
		 margin-left: 1%;
		 margin-top:435px;
		 border-radius:15px 0px 0px 15px;
		 position:fixed;
		 z-index: 20;
		 box-shadow: 10px 10px 20px blue inset;
		}
#corps{
        width:73.95%;
		 height:1500px;
		 background-image:url(BG2.jpg);
		 margin-left: 21.05%;
		 margin-top:210px;
		 position:absolute;
		
		 box-shadow: 10px 10px 20px black inset;
		 }
#gauche3{

        width:20%;
		 height:150px;
		 background-color:silver;
		 margin-left: 1%;
		margin-top:588px;
		 border-radius:15px 0px 0px 15px;
		 position:fixed;
		 z-index: 20;
		 box-shadow: 10px 10px 20px blue inset;
		 }
		 
		 
#menu a {   
    display:block;   
    color: #fff;   
    text-decoration:none; 
		
}  
#menu > li,  
#menu > li li {  
    position: relative;  
    display:inline-block;
		
    width: 110px;  
    padding: 9px 15px;  
    background-color: #777;  
    background-image: linear-gradient(#aaa, #888 50%, #777 50%,#999); 
}  
#menu > li li { 
	background: transparent none;

		
	}  
#menu > li li a { 
	color: #444; 
	}  
#menu > li li:hover { 
	background:#eee; 
	}  
#menu > li:first-child {  
    border-right: 1px solid #777;  
    border-radius: 8px 0 0 8px;  
}  
#menu > li + li {  
    border-left: 1px solid #aaa;  
    border-right: 1px solid #777;  
}  
#menu > li:last-child {  
    border-right:0;  
    border-left: 1px solid #aaa;  
    border-radius: 0 8px 8px 0 ;  
}  
#menu > li:hover {  
    background-color: #999;  
    background-image: linear-gradient(#ccc, #aaa 50%, #999 50%,#bbb);  
}  
  
#menu ul {  
    position: absolute;  
    top: 2em; left:0;  
    max-height:0em;   
    margin:0; padding:0;  
    background-color:#ddd;  
    background-image: linear-gradient(#fff,#ddd);  
    overflow:hidden;  
    transition: 1s max-height 0.3s;  
    border-radius: 0 0 8px 8px;  
}  
   
#menu > li:hover ul {  
      
    max-height:13em; 
}  
#footer{
        width:100%;
		 height:220px;
		 background-color:blue;
		 margin-top:1500px;
		 box-shadow: 10px 10px 20px black inset;
		 margin-left: 0.1%;
}

 